@using B1625MVC.BLL.DTO
@{
    var types = Enum.GetNames(typeof(ContentType));
    var values = Enum.GetValues(typeof(ContentType));
}
<div>
    @foreach (var type in types)
    {
        @Html.RadioButton("ContentType", )
    }
</div>
