@using B1625MVC.Web.Models
@model PublicationViewModel

@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewBag.Title = Model.Publication.Title;
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/PublicationStyle.css" />
}

<div style="margin:0 32px;">
    <div id="publication">
        @Html.Partial("_PublicationPartial", Model.Publication)
    </div>
    <div id="comments">
        @Html.Action("PublicationComments", "Comment", new { publicationId = Model.Publication.Id })
    </div>
    <div class="form-field">
        @if (User.Identity.IsAuthenticated)
        {
            @: Add your comment
        using (Ajax.BeginForm(new AjaxOptions()
            {
                UpdateTargetId = "comments",
                Url = Url.RouteUrl(new { controller = "Comment", action = "Add", publicationId = Model.Publication.Id })
            }))
            {
                @Html.TextArea("newComment", new { style = "display:block;height:100px" })
                <input type="submit" name="addCommentInput" value="Add comment" />
            }
        }
        else
        {
            @: Log in to add comments
    }
    </div>
</div>




@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(document).ajaxComplete(function () {
            $('#newComment').val('');
        });
    </script>
}
