@using B1625MVC.Web.Models
@model PublicationViewModel

@{
    ViewBag.Title = Model.Publication.Title;
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/Content/CommentStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/PublicationStyle.css" />
}

<div>
    <div>
        @Html.Partial("_Publication", Model.Publication)
    </div>
    <div id="comments">
        @foreach (var comment in Model.Comments)
        {
            @Html.Partial("_CommentPartial", comment)
        }
    </div>
    <div>
        Add your comment
        @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "comments", Url = Url.RouteUrl(new { controller = "comment", action = "PublicationComments", publicationId = Model.Publication.Id }) }))
        {
            @Html.TextArea("AddComment")
            <input type="submit" value="Add comment" />
        }
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
