@using B1625MVC.Model.Entities
@model Comment

<div class="comment">
    <div class="comment-author">
        <b>@Model.Author.Username</b>
    </div>
    <div class="comment-content">
        @Model.Content
    </div>
</div>
