@using B1625MVC.BLL.DTO
@model IEnumerable<CommentInfo>

<div>
    @foreach (var comment in Model)
    {
        @Html.Partial("_CommentPartial", comment)
    }
    <div class="form-message">
        @Html.ValidationSummary(true)
    </div>
</div>
