@using B1625MVC.BLL.DTO
@model IEnumerable<PublicationInfo>
@{ 
    var pageInfo = (PageInfo)ViewBag.PageInfo;
}

@foreach (var publication in Model)
{
    @Html.Partial("_PublicationPartial", publication)
}
<div class="pager">
    @for (int i = 1; i < pageInfo.TotalPages + 1; i++)
            {
        @Html.RouteLink(i.ToString(), new { controller = ViewContext.RouteData.Values["controller"], action = ViewContext.RouteData.Values["action"], page = i })
    }
</div>
