@using B1625MVC.BLL.DTO
@model IEnumerable<PublicationInfo>
@{
    var pageInfo = (PageInfo)ViewBag.PageInfo;
}

@foreach (var publication in Model)
{
    @Html.Partial("_PublicationPartial", publication)
}
<div class="pager">
    @Html.Pager(pageInfo)
</div>
