@using B1625MVC.BLL.DTO
@model IEnumerable<PublicationInfo>
@{
    var pageInfo = (PageInfo)ViewBag.PageInfo;
}

@foreach (var publication in Model)
{
    @Html.Partial("_PublicationPartial", publication)
}
<div class="pager">
    @Html.Pager(pageInfo)
</div>
<script>
    function hideContent(e, contentId) {
        var content = $(contentId);

        if (content.css('display') == 'none') {
            content.slideDown();
            e.title = "Hide publication";
            e.innerText = '-';
        } else {
            content.slideUp();
            e.title = "Show publication";
            e.innerText = '+';
        }
    }
</script>
