<div class="sidebar">
    <div class="sidebar-block">
        <div class="upload-btn">
            @Html.RouteLink("Upload post", new { controller = "Publication", action = "Add" })
        </div>
    </div>
    <div class="sidebar-block" style="border-bottom:1px solid #ccc;">
        <div class="sidebar-title">
            Publication of the day
        </div>
        <div>
            @Html.Action("BestPublication", "Publication")
        </div>
    </div>
    <div class="sidebar-block" style="border-bottom:1px solid #ccc;">
        <div class="sidebar-title">
            Comment of the day
        </div>
        @Html.Action("BestComment", "Comment")
    </div>
    <div class="sidebar-block">
        <div class="sidebar-title">
            Top users
        </div>
        <div class="sidebar-table">
            @Html.Action("TopUsers", "Home")
        </div>
    </div>
</div>

