@model B1625DbModel.Entities.Comment

<div class="comment">
    <div class="comment-author">
        <b>@Model.Author.Username</b>
    </div>
    <div class="comment-content">
        @Model.Content
    </div>
</div>
