/*#region Content */

html, body {
    height: 100%;
}

body {
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: #ffffff;
    min-height: 100%;
    min-width: 1000px;
    margin-left: 64px;
    margin-right: 64px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
}

.content-wrapper {
    margin: 0 32px;
    display: flex;
}

.main-wrapper {
    flex-grow: 3;
    min-width: 600px;
    margin-right: 32px;
}

.side-wrapper {
    height: 100%;
    flex-grow: 2;
    min-width: 300px;
    max-width: 300px;
}

.content {
    padding-top: 64px;
    padding-bottom: 32px;
}

    .content a {
        text-decoration: none;
        color: black;
    }

        .content a:hover {
            color: #0066ff;
        }



.pager {
    padding: 20px 20px;
}

    .pager a {
        text-decoration: none;
        color: black;
        padding: 5px 10px;
        margin: 0 2px;
        border: 1px solid black;
    }

        .pager a:hover {
            background-color: #0066ff;
        }

    .pager span {
        color: black;
        padding: 5px 10px;
        margin: 0 2px;
        border: 1px solid black;
        display: inline-block;
    }

        .pager span:hover {
            background-color: #0066ff;
        }

#to_top {
    display: none;
    position: fixed;
    height: 36px;
    width: 48px;
    bottom: 32px; /* Place the button at the bottom of the page */
    left: 8px; /* Place the button 30px from the right */
    z-index: 98; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: #f1f1f1; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 8px; /* Some padding */
    background-color: #0066ff;
}

    #to_top:hover {
        color: #f1f1f1; /* Add a dark-grey background on hover */
    }

footer {
    text-align: center;
    color: #f1f1f1;
    background-color: #262626;
    width: 100%;
    height: 48px;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

/*#endregion */

/*#region Navigation bar */
.nav-bar {
    background-color: #262626;
    position: fixed;
    width: 100%;
    top: 0px;
    font-size: 16px;
    z-index: 99;
}

    .nav-bar li {
        float: left;
    }

    .nav-bar a {
        text-decoration: none;
        display: block;
        color: #e6e6e6;
        text-align: center;
        padding: 1em 2em;
    }

        .nav-bar a:hover {
            color: #262626;
            background-color: #ccc;
        }

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .nav-dropdown-content li {
        width: 100%;
    }

    .nav-dropdown-content a {
        color: black;
        font-size: 14px;
        text-align: left;
        padding: .8em;
        text-decoration: none;
        display: block;
    }

        .nav-dropdown-content a:hover {
            background-color: #f1f1f1
        }

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}
/*#endregion */

/*#region Forms */

.form {
    border: 0px solid #f1f1f1;
    width: 280px;
    margin: 0 auto;
    padding: 16px;
}

.form-title {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.form-field {
    width: 100%;
    margin: 10px 0;
}

    .form-field input[type=text], .form-field input[type=password], .form-field input[type=email], .form-field input[type=number] {
        width: 100%;
        padding: 8px 12px;
        margin: 5px 0;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 16px;
    }

    .form-field input[type=submit] {
        background-color: #0066ff;
        color: white;
        padding: 8px 12px;
        margin: 5px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
    }

    .form-field input[type=file] {
        width: 100%;
        padding: 8px 12px;
        margin: 5px 0;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 16px;
    }

    .form-field textarea {
        font-family: Arial;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 128px;
        max-height: 240px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin: 10px 0;
        padding: 8px 12px;
        resize: vertical;
    }

    .form-field img {
        width: 100%;
        max-width: 100%;
        border: 1px solid #ccc;
        display: block;
        padding: 8px 12px;
        box-sizing: border-box
    }

.form input[type=submit]:hover {
    opacity: 0.8;
}

.form-message {
    margin-top: 24px;
    text-align: center;
}

    .form-message ul {
        list-style-type: none;
    }

/*#endregion */

/*#region validation */

.field-validation-error {
    color: darkred;
    padding: 5px 0;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid darkred !important;
    background-color: #ffeeee !important;
}

.validation-summary-errors {
    color: darkred !important;
}

.validation-summary-valid {
    display: none;
}


/*#endregion */

/*#region Table */

table {
    width: 100%;
    font-size: 18px;
    text-align: center;
}

    table thead {
        text-align: center;
        background-color: #262626;
        color: #f1f1f1;
        border: 1px solid #f1f1f1;
    }

table, td {
    border: 1px solid #262626;
}

    table td {
        padding: 5px;
    }

/*#endregion */

/*#region Filter */

.filter-form {
    border: 1px solid rgba(0,0,0,0.25);
    margin: 5px 0;
    padding: 10px 20px;
    font-size: 18px;
}

.filter-form-field {
    display: inline-block;
}

    .filter-form-field input[type=text] {
        padding: 4px 6px;
        font-size: 14px;
    }

/*#endregion */
