@using B1625DbModel.Entities
@model IEnumerable<Publication>

@section Styles{
    <link rel="stylesheet" href="~/Content/PublicationStyle.css" type="text/css" />
}

<div>
    @foreach (var publication in Model)
    {
        @Html.Partial("_Publication", publication)
    }
</div>


