@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div>
    @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "users-table", InsertionMode = InsertionMode.Replace, Url = Url.Action("UsersTable") }))
    {
        @Html.Label("usernameFilter", "Username")
        @Html.TextBox("usernameFilter", (string)ViewBag.UsernameFilter)
        <input type="submit" value="Filter" />
    }
</div>

<div id="users-table">
    @Html.Action("UsersTable")
</div>

@Html.RouteLink("Create", new { area = "Admin", controller = "Account", action = "Create" })

@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

