@using B1625MVC.BLL.DTO
@model IEnumerable<PublicationInfo>
@{
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
    ViewBag.Title = this.ViewContext.RouteData.GetRequiredString("action");
    var pageInfo = (PageInfo)ViewBag.PageInfo;
}

@section Styles{
    <link rel="stylesheet" href="~/Content/PublicationStyle.css" type="text/css" />
}

<div style="background-color:aqua">
    filters here
</div>
@Html.Partial("_Publications", Model)

@section Sidebar{
    @Html.Partial("_Sidebar")
}


@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

