@using B1625MVC.BLL.DTO
@model IEnumerable<PublicationInfo>
@{
    ViewBag.Title = this.ViewContext.RouteData.GetRequiredString("action");
}

@section Styles{
    <link rel="stylesheet" href="~/Content/PublicationStyle.css" type="text/css" />
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.RouteLink("Add publication", new { controller = "Publication", action = "Add" })
    }
</div>


<div >
    @foreach (var publication in Model)
    {
        @Html.Partial("_Publication", publication)
    }
</div>

@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

